{% extends "layout.twig" %}
{% block content %}
{% if portfolio is not empty %}
<div class="text2">
    <div class="container has-text-centered">
        <h1 class="title is-italic"> Welcome to My Portfolio</h1>
    </div>
</div>
<div class="text2">
    <div class="container has-text-centered">
        <h1 class="title has-text-weight-bold">{{portfolio.judul}}</h1>
        <p class="subtitle">{{portfolio.sub}}</p>
        {% for rounded in portfolio.class %}
        <button class="button is-rounded {{rounded}}">{{portfolio.label[loop.index0]}}</button>
        {% endfor %}
        <p class="subtitle">{{portfolio.komplit}}</p>
        <a class="button" onclick="goBack()"> <- Back</a>
    </div>
</div>
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <a href="{{portfolio.imgweb[0]}}" data-lightbox="{{portfolio.galeri[0]}}"
                data-title="{{portfolio.capt[0]}}"><img src="{{portfolio.imgweb[0]}}" alt=""></a>
            </div>
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <a href="{{portfolio.imgweb[1]}}" data-lightbox="{{portfolio.galeri[1]}}"
                    data-title="{{portfolio.capt[1]}}"><img src="{{portfolio.imgweb[1]}}" alt=""></a>
                </div>
                <div class="tile is-child box">
                    <a href="{{portfolio.imgweb[2]}}" data-lightbox="{{portfolio.galeri[2]}}"
                    data-title="{{portfolio.capt[2]}}"><img src="{{portfolio.imgweb[2]}}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="text2">
    <div class="container has-text-centered">
        <h1 class="title is-italic"> Tampilan Tidak tersedia </h1>
    </div>
</div>
{% endif %}
{% endblock %}

{% block fotScript %}
    {% if portfolio is not empty %}
    {% else %}
      <script>
      setTimeout(function(){
        window.location.href = 'index.php';
      }, 2000);
      </script>
    {% endif %}
{% endblock %}

